In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline
spi_matches=pd.read_csv('Data/spi_matches.csv')
spi_global_teams=pd.read_csv('Data/spi_global_rankings.csv')
spi_global_nations=pd.read_csv('Data/spi_global_rankings_intl.csv')

In [2]:
spi_matches

,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,probtie,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2016-08-12,1843,French Ligue 1,Bastia,Paris Saint-Germain,51.16,85.68,0.0463,0.8380,0.1157,...,32.4,67.7,0.0,1.0,0.97,0.63,0.43,0.45,0.00,1.05
1,2016-08-12,1843,French Ligue 1,AS Monaco,Guingamp,68.85,56.48,0.5714,0.1669,0.2617,...,53.7,22.9,2.0,2.0,2.45,0.77,1.75,0.42,2.10,2.10
2,2016-08-13,2411,Barclays Premier League,Hull City,Leicester City,53.57,66.81,0.3459,0.3621,0.2921,...,38.1,22.2,2.0,1.0,0.85,2.77,0.17,1.25,2.10,1.05
3,2016-08-13,2411,Barclays Premier League,Crystal Palace,West Bromwich Albion,55.19,58.66,0.4214,0.2939,0.2847,...,43.6,34.6,0.0,1.0,1.11,0.68,0.84,1.60,0.00,1.05
4,2016-08-13,2411,Barclays Premier League,Everton,Tottenham Hotspur,68.02,73.25,0.3910,0.3401,0.2689,...,31.9,48.0,1.0,1.0,0.73,1.11,0.88,1.81,1.05,1.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32246,2020-05-24,1869,Spanish Primera Division,Villarreal,Eibar,73.84,73.46,0.4872,0.2588,0.2540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32247,2020-05-24,1871,Spanish Segunda Division,Las Palmas,Extremadura UD,36.80,31.54,0.4904,0.2091,0.3004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32248,2020-05-24,1871,Spanish Segunda Division,Numancia,Tenerife,29.52,30.98,0.4367,0.2657,0.2977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32249,2020-05-24,1871,Spanish Segunda Division,Elche,Real Oviedo,32.18,30.04,0.4768,0.2473,0.2759,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32250,2020-05-24,1871,Spanish Segunda Division,Real Zaragoza,SD Ponferradina,37.74,29.92,0.5405,0.2037,0.2558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
spi_matches['offense_team1']=spi_matches['team1'].values
spi_matches

,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,probtie,...,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2,offense_team1
0,2016-08-12,1843,French Ligue 1,Bastia,Paris Saint-Germain,51.16,85.68,0.0463,0.8380,0.1157,...,67.7,0.0,1.0,0.97,0.63,0.43,0.45,0.00,1.05,Bastia
1,2016-08-12,1843,French Ligue 1,AS Monaco,Guingamp,68.85,56.48,0.5714,0.1669,0.2617,...,22.9,2.0,2.0,2.45,0.77,1.75,0.42,2.10,2.10,AS Monaco
2,2016-08-13,2411,Barclays Premier League,Hull City,Leicester City,53.57,66.81,0.3459,0.3621,0.2921,...,22.2,2.0,1.0,0.85,2.77,0.17,1.25,2.10,1.05,Hull City
3,2016-08-13,2411,Barclays Premier League,Crystal Palace,West Bromwich Albion,55.19,58.66,0.4214,0.2939,0.2847,...,34.6,0.0,1.0,1.11,0.68,0.84,1.60,0.00,1.05,Crystal Palace
4,2016-08-13,2411,Barclays Premier League,Everton,Tottenham Hotspur,68.02,73.25,0.3910,0.3401,0.2689,...,48.0,1.0,1.0,0.73,1.11,0.88,1.81,1.05,1.05,Everton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32246,2020-05-24,1869,Spanish Primera Division,Villarreal,Eibar,73.84,73.46,0.4872,0.2588,0.2540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Villarreal
32247,2020-05-24,1871,Spanish Segunda Division,Las Palmas,Extremadura UD,36.80,31.54,0.4904,0.2091,0.3004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Las Palmas
32248,2020-05-24,1871,Spanish Segunda Division,Numancia,Tenerife,29.52,30.98,0.4367,0.2657,0.2977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Numancia
32249,2020-05-24,1871,Spanish Segunda Division,Elche,Real Oviedo,32.18,30.04,0.4768,0.2473,0.2759,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elche
32250,2020-05-24,1871,Spanish Segunda Division,Real Zaragoza,SD Ponferradina,37.74,29.92,0.5405,0.2037,0.2558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Real Zaragoza

In [70]:
spi_matches['off_team1']=spi_global_teams['off'][spi_global_teams['name']==(spi_matches['team1'].values)]
spi_matches

ValueError: Lengths must match to compare

In [3]:
spi_global_teams

,rank,prev_rank,name,league,off,def,spi
0,1,1.0,Manchester City,Barclays Premier League,3.29,0.22,95.22
1,2,2.0,Bayern Munich,German Bundesliga,3.22,0.36,93.30
2,3,3.0,Liverpool,Barclays Premier League,2.92,0.27,92.78
3,4,4.0,Paris Saint-Germain,French Ligue 1,2.75,0.41,89.51
4,5,5.0,Barcelona,Spanish Primera Division,2.80,0.49,88.64
...,...,...,...,...,...,...,...
624,625,627.0,Macclesfield,English League Two,0.23,2.31,6.75
625,626,624.0,Walsall,English League Two,0.20,2.24,6.72
626,627,625.0,Port Vale,English League Two,0.22,2.34,6.50
627,628,626.0,Morecambe,English League Two,0.29,2.55,6.38
628,629,628.0,Colorado Springs Switchbacks FC,United Soccer League,0.20,2.46,5.53

In [5]:
spi_matches

,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,probtie,...,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2,offense_team1
0,2016-08-12,1843,French Ligue 1,Bastia,Paris Saint-Germain,51.16,85.68,0.0463,0.8380,0.1157,...,67.7,0.0,1.0,0.97,0.63,0.43,0.45,0.00,1.05,NaN
1,2016-08-12,1843,French Ligue 1,AS Monaco,Guingamp,68.85,56.48,0.5714,0.1669,0.2617,...,22.9,2.0,2.0,2.45,0.77,1.75,0.42,2.10,2.10,NaN
2,2016-08-13,2411,Barclays Premier League,Hull City,Leicester City,53.57,66.81,0.3459,0.3621,0.2921,...,22.2,2.0,1.0,0.85,2.77,0.17,1.25,2.10,1.05,NaN
3,2016-08-13,2411,Barclays Premier League,Crystal Palace,West Bromwich Albion,55.19,58.66,0.4214,0.2939,0.2847,...,34.6,0.0,1.0,1.11,0.68,0.84,1.60,0.00,1.05,NaN
4,2016-08-13,2411,Barclays Premier League,Everton,Tottenham Hotspur,68.02,73.25,0.3910,0.3401,0.2689,...,48.0,1.0,1.0,0.73,1.11,0.88,1.81,1.05,1.05,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32246,2020-05-24,1869,Spanish Primera Division,Villarreal,Eibar,73.84,73.46,0.4872,0.2588,0.2540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32247,2020-05-24,1871,Spanish Segunda Division,Las Palmas,Extremadura UD,36.80,31.54,0.4904,0.2091,0.3004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32248,2020-05-24,1871,Spanish Segunda Division,Numancia,Tenerife,29.52,30.98,0.4367,0.2657,0.2977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32249,2020-05-24,1871,Spanish Segunda Division,Elche,Real Oviedo,32.18,30.04,0.4768,0.2473,0.2759,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32250,2020-05-24,1871,Spanish Segunda Division,Real Zaragoza,SD Ponferradina,37.74,29.92,0.5405,0.2037,0.2558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
type(spi_global_teams['off'][spi_global_teams['name']=='Liverpool'].values)

numpy.ndarray

In [39]:
type(spi_matches['team1'])

pandas.core.series.Series

In [42]:
spi_global_teams['off'][spi_global_teams['name']=='Liverpool'].values[0]

2.92

In [62]:
spi_matches['offens_team1']=spi_global_teams['off'][spi_global_teams['name']=='Liverpool'].values[0]

In [63]:
spi_matches

,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,probtie,...,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2,offense_team1,off_team1,offens_team1
0,2016-08-12,1843,French Ligue 1,Bastia,Paris Saint-Germain,51.16,85.68,0.0463,0.8380,0.1157,...,1.0,0.97,0.63,0.43,0.45,0.00,1.05,Bastia,NaN,2.92
1,2016-08-12,1843,French Ligue 1,AS Monaco,Guingamp,68.85,56.48,0.5714,0.1669,0.2617,...,2.0,2.45,0.77,1.75,0.42,2.10,2.10,AS Monaco,NaN,2.92
2,2016-08-13,2411,Barclays Premier League,Hull City,Leicester City,53.57,66.81,0.3459,0.3621,0.2921,...,1.0,0.85,2.77,0.17,1.25,2.10,1.05,Hull City,NaN,2.92
3,2016-08-13,2411,Barclays Premier League,Crystal Palace,West Bromwich Albion,55.19,58.66,0.4214,0.2939,0.2847,...,1.0,1.11,0.68,0.84,1.60,0.00,1.05,Crystal Palace,NaN,2.92
4,2016-08-13,2411,Barclays Premier League,Everton,Tottenham Hotspur,68.02,73.25,0.3910,0.3401,0.2689,...,1.0,0.73,1.11,0.88,1.81,1.05,1.05,Everton,NaN,2.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32246,2020-05-24,1869,Spanish Primera Division,Villarreal,Eibar,73.84,73.46,0.4872,0.2588,0.2540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Villarreal,NaN,2.92
32247,2020-05-24,1871,Spanish Segunda Division,Las Palmas,Extremadura UD,36.80,31.54,0.4904,0.2091,0.3004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Las Palmas,NaN,2.92
32248,2020-05-24,1871,Spanish Segunda Division,Numancia,Tenerife,29.52,30.98,0.4367,0.2657,0.2977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Numancia,NaN,2.92
32249,2020-05-24,1871,Spanish Segunda Division,Elche,Real Oviedo,32.18,30.04,0.4768,0.2473,0.2759,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elche,NaN,2.92
32250,2020-05-24,1871,Spanish Segunda Division,Real Zaragoza,SD Ponferradina,37.74,29.92,0.5405,0.2037,0.2558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Real Zaragoza,NaN,2.92

In [67]:
spi_matches['offens_team1']=spi_matches['team1'].values

In [69]:
type(spi_matches['offens_team1'])

pandas.core.series.Series

In [64]:
spi_matches['offens_team1']=spi_global_teams['off'][spi_global_teams['name']=='Liverpool'].values[0]