In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

* First we are going to load the data set to a dataframe using pandas

In [2]:
data_frame=pd.read_csv('Data/Shakespeare_data.csv')
data_frame.head(200)

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"
...,...,...,...,...,...,...
195,196,Henry IV,27.0,1.2.82,FALSTAFF,"yet he talked wisely, and in the street too."
196,197,Henry IV,28.0,1.2.83,PRINCE HENRY,"Thou didst well, for wisdom cries out in the"
197,198,Henry IV,28.0,1.2.84,PRINCE HENRY,"streets, and no man regards it."
198,199,Henry IV,29.0,1.2.85,FALSTAFF,"O, thou hast damnable iteration and art indeed..."
199,200,Henry IV,29.0,1.2.86,FALSTAFF,to corrupt a saint. Thou hast done much harm upon