## Data Transformation
Text data requires preparation before it can be used in predictive modeling. We need to perform tokenization and vectorization of the text data.

#### Tokenization:
Tokenization is the process of breaking up text into words, keywords, phrases or other elements called tokens.
Tokens can be individual words, phrases or even whole sentences. 

#### Vectorization
Vectorization refers to encoding words or tokens as integers or floating point values for use as an input to a machine learning algorithm. 

I am goint to use the scikit-learn library to perform both tokenization and vectorization.

In [5]:
%run data_exploration.ipynb
data_frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111396 entries, 0 to 111395
Data columns (total 6 columns):
Dataline            111396 non-null int64
Play                111396 non-null object
PlayerLinenumber    111393 non-null float64
ActSceneLine        105153 non-null object
Player              111389 non-null object
PlayerLine          111396 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 5.1+ MB
Number of unique plays = 36
                           Dataline  PlayerLinenumber
Play
A Comedy of Errors         48200025           75112.0
A Midsummer nights dream  156736950           85898.0
A Winters Tale            382575828          186514.0
Alls well that ends well   43784766          106670.0
Antony and Cleopatra       79157483          112274.0
As you like it             48409999           91439.0
Coriolanus                105702172          135568.0
Cymbeline                 120534953          130105.0
Hamlet                    146649298          198107.0
Henry IV                    5137615          111754.0
Henry V                   130279730           75229.0
Henry VI Part 1            14011151           49013.0
Henry VI Part 2            26190237           90021.0
Henry VI Part 3            34805127           73898.0
Henry VIII                142849239          100416.0
Julius Caesar             132015982          106881.0
King John                 124120101           86599.0
King Lear                 191728943          136574.0
Loves Labours Lost        162099489          303299.0
Measure for measure       179473771          140586.0
Merchant of Venice        175866129           83736.0
Merry Wives of Windsor    185659811           99542.0
Much Ado about nothing    191033544          121708.0
Othello                   277942203          225998.0
Pericles                  203576203           76144.0
Richard II                234584064           59156.0
Richard III               328328651          155441.0
Romeo and Juliet          288025594           84444.0
Taming of the Shrew       252532985          110347.0
The Tempest               222522606          114975.0
Timon of Athens           253248039          119473.0
Titus Andronicus          266680491           74687.0
Troilus and Cressida      374985417          135677.0
Twelfth Night             275991772          127993.0
Two Gentlemen of Verona   251560253           77185.0
macbeth                   147589485           46305.0

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,Other,ACT I
1,2,Henry IV,NaN,NaN,Other,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,Other,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"
...,...,...,...,...,...,...
111391,111392,A Winters Tale,38.0,5.3.180,LEONTES,"Lead us from hence, where we may leisurely"
111392,111393,A Winters Tale,38.0,5.3.181,LEONTES,Each one demand an answer to his part
111393,111394,A Winters Tale,38.0,5.3.182,LEONTES,Perform'd in this wide gap of time since first
111394,111395,A Winters Tale,38.0,5.3.183,LEONTES,We were dissever'd: hastily lead away.
111395,111396,A Winters Tale,38.0,NaN,LEONTES,Exeunt

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
v=TfidfVectorizer()
x=v.fit_transform(data_frame['PlayerLine'])
x.toarray()
#data_frame['PlayerLineScore']=list(x.toarray())
#print(data_frame)

MemoryError: